.button-image:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.button-image:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.ship-button:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.ship-button:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.pane-style:hover{
    -fx-cursor: hand;
    -fx-background-color: gray;
}
.pane-style:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

